:root {
  --primary-colour: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-900: hsl(0, 0%, 7%);
}

@font-face {
  font-family: Figtree;
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf)
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Figree-Italic;
  src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}